<%= form_with(model: social_link, local: true) do |form| %>
  <% if social_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_link.errors.count, "error") %> prohibited this social_link from being saved:</h2>

      <ul>
      <% social_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
