<p id="notice"><%= notice %></p>

<h1>Social Links</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Url</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_links.each do |social_link| %>
      <tr>
        <td><%= social_link.uid %></td>
        <td><%= social_link.name %></td>
        <td><%= social_link.url %></td>
        <td><%= social_link.user %></td>
        <td><%= link_to 'Show', social_link %></td>
        <td><%= link_to 'Edit', edit_social_link_path(social_link) %></td>
        <td><%= link_to 'Destroy', social_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Link', new_social_link_path %>
