<%= form_with(model: service_user_item, local: true) do |form| %>
  <% if service_user_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_user_item.errors.count, "error") %> prohibited this service_user_item from being saved:</h2>

      <ul>
      <% service_user_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :service_user_id %>
    <%= form.text_field :service_user_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
