<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @service_user_item.uid %>
</p>

<p>
  <strong>Service user:</strong>
  <%= @service_user_item.service_user %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_user_item.service %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service_user_item.price %>
</p>

<%= link_to 'Edit', edit_service_user_item_path(@service_user_item) %> |
<%= link_to 'Back', service_user_items_path %>
