<div class="card">
    <div class="card-header">
        <div class="pull-left">
            <strong>Informations</strong>
        </div>
        <div class="pull-right">
            <% if is_me?(@user) %>
                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Modifier'), get_profile_informations_path(@user.uid), remote: true %>
            <% end %>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="block-content-wrap">
                    <ul class="list-2-cols list-unstyled">
                        <li class="detail-address">
                            <strong>Nom d'utilisateur: </strong> 
                            <span><%= @user.login %></span>
                        </li>
                        <li class="detail-city">
                            <strong>Sexe:</strong> 
                            <span><%= @user.profile.sex %></span>
                        </li>
                        <li class="detail-state">
                            <strong>Situation matrimoniale:</strong> 
                            <span><%= "#{@user.profile.marital_status} " %></span>
                        </li>
                        <li class="detail-zip">
                            <strong>Âge:</strong> 
                            <span><%= "#{user_age(@user.profile.birth_date)}" %></span>
                        </li>
                        <li class="detail-zip">
                            <strong>Habite à:</strong> 
                            <span><%= "#{@user.profile.city}, #{@user.profile.country} " %></span>
                        </li>
                        <li class="detail-area">
                            <strong>Orientation sexuelle:</strong> 
                            <span><%= "#{@user.profile.sexual_orientation} " %></span>
                        </li>
                        <li class="detail-country">
                            <strong>Réligion:</strong> 
                            <span></span>
                        </li>
                        <li class="detail-country">
                            <strong>Fonction:</strong> 
                            <span></span>
                        </li> 
                        <li class="detail-country">
                            <strong>Astrologie:</strong> 
                            <span></span>
                        </li> 
                        <li class="detail-country">
                            <strong>Taille:</strong> 
                            <span></span>
                        </li>
                        <li class="detail-country">
                            <strong>Poids:</strong> 
                            <span></span>
                        </li>
                        <li class="detail-country">
                            <strong>Cheuveux:</strong> 
                            <span></span>
                        </li>             
                    </ul>   
                </div>

            </div>
        </div>
    </div>
</div>