<%= form_with(model: language, local: false) do |form| %>
  
  <div class="modal-body">
    <ul class="errors">
        </ul>
 
        <div class="row">
          <div class="col-md-12">
            
              <%= form.hidden_field :user_id %>
            
            <div class="form-group customSelect">

              <%= fields_for(:language_items) do |language_item_form| %>
                <%= language_item_form.label :name, "Noms", class: "required" 
                    %>
                    
                <%= language_item_form.select(:names, @languages, {selected: (@selected_languages.map(&:name) unless @selected_languages.nil?)}, {class: "form-control", style: "width: 100%;",  multiple: true,required: true}) %>
            <% end %>

            </div>
          </div>

  

      </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
