<%= form_with(model: service_user, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="row">

      
    

      <div class="col-md-12">
            
              <%= form.hidden_field :user_id %>
            
            <div class="form-group customSelect">

              <%= fields_for(:service_user_items) do |service_user_item_form| %>
                <%= service_user_item_form.label :services, "Noms", class: "required" 
                    %>
                    
                <%= service_user_item_form.collection_select(:services, @services, :id, :name, {selected: (@selected_services.map(&:id) unless @selected_services.nil?)}, {class: "form-control", style: "width: 100%;",  multiple: true,required: true}) %>
            <% end %>

            </div>
          </div>

    </div>

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>

<% end %>
