<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service_user.service %>
</p>

<p>
  <strong>User:</strong>
  <%= @service_user.user %>
</p>

<%= link_to 'Edit', edit_service_user_path(@service_user) %> |
<%= link_to 'Back', service_users_path %>
