<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @unlike.uid %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @unlike.sender %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @unlike.recipient %>
</p>

<p>
  <strong>Remove at:</strong>
  <%= @unlike.remove_at %>
</p>

<%= link_to 'Edit', edit_unlike_path(@unlike) %> |
<%= link_to 'Back', unlikes_path %>
