<p id="notice"><%= notice %></p>

<h1>Working Hours</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Day</th>
      <th>Start hour</th>
      <th>End hour</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_hours.each do |working_hour| %>
      <tr>
        <td><%= working_hour.uid %></td>
        <td><%= working_hour.day %></td>
        <td><%= working_hour.start_hour %></td>
        <td><%= working_hour.end_hour %></td>
        <td><%= working_hour.status %></td>
        <td><%= working_hour.user %></td>
        <td><%= link_to 'Show', working_hour %></td>
        <td><%= link_to 'Edit', edit_working_hour_path(working_hour) %></td>
        <td><%= link_to 'Destroy', working_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working Hour', new_working_hour_path %>
