<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @working_hour.uid %>
</p>

<p>
  <strong>Day:</strong>
  <%= @working_hour.day %>
</p>

<p>
  <strong>Start hour:</strong>
  <%= @working_hour.start_hour %>
</p>

<p>
  <strong>End hour:</strong>
  <%= @working_hour.end_hour %>
</p>

<p>
  <strong>Status:</strong>
  <%= @working_hour.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @working_hour.user %>
</p>

<%= link_to 'Edit', edit_working_hour_path(@working_hour) %> |
<%= link_to 'Back', working_hours_path %>
