<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: APPLICATION_NAME %>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/partials/google_analytics' %>

  </head>

  <body>
  <%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
  
    <!-- Navbar -->
    <%= render "layouts/partials/header"%>
  
    
    <%= yield %>
    
     <!-- Footer -->
      <% if controller_name == 'registrations' %>
        <%= render "layouts/partials/home/footer/footer" %>
        
      <% end %>
    
  </body>
</html>
